main {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}

.home {
    background-color: red;
}

.add-book {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    background-color: white;
    height: 2rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
}